h1 {
    text-align: center;
    color: #333;
  }
  
  nav {
    text-align: center;
    margin-bottom: 20px;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  